@import "tailwindcss";

:root {
  --background: #f5fdfa;
  --foreground: #222222;
  --primary: #688bdf;
  --secondary: #8abee6;
  --accent: #96eb4c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--color-green-600);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-inter), sans-serif;
}
